
.page-header {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    border-bottom: 1px solid var(--border-header-color);
}

.page-header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo__header {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--black-color);

}

.logo__logo-web {
    color: var(--blue-color);
}

.current--page a {
        color: var(--blue-color);

        &::after {
                content: "";
                display: block;
                position: absolute;
                right: auto;
                left: auto;
                bottom: -30px;
                background-color: var(--blue-color);
                border-radius: 2px;
                height: 4px;
                width: 100%;
                transform: scaleX(1);
            }
    }

.menu-navigation__link {
    position: relative;
    color: var(--dark-color);
    transition: color var(--hover-focus-anim);
    
    &:hover,
    &:focus {
        color: var(--blue-color);
    }
    
    &::after {
        content: "";
        display: block;
        position: absolute;
        right: auto;
        left: auto;
        bottom: -30px;
        background-color: var(--blue-color);
        border-radius: 2px;
        height: 4px;
        width: 0%;
        transform: scaleX(0);
        transition: transform var(--hover-focus-anim);
    }
    
    &:hover::after,
    &:focus::after {
        width: 100%;
        transform: scaleX(1);
    }
}

.contacts__link {
    display: flex;
    align-items: center;
    color: var(--grey-color);
    fill: currentColor;
    transition: color var(--hover-focus-anim);

    &:hover,
    &:focus {
        color: var(--blue-color);
    }
}

@media screen and (max-width: 767px) {
    .menu-navigation {
        display: none;
    }
    
    .contacts {
        display: none;
    }
 
    .page-header {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .logo__header {
        font-size: 24px;
    }

    .open-mobile-menu-btn {
        line-height: 0;
        border: none;
        background-color: transparent;
        padding: 0;
        cursor: pointer;
    }
    
    .open-mobile-menu-btn__icon {
        width: 40px;
        height: 40px;
    }
}

@media screen and (min-width: 768px) {
    .open-mobile-menu-btn {
        display: none;
    }

    .page-header {
        padding-top: 21px;
        padding-bottom: 21px;
    }

    .page-navigation {
        display: flex;
        align-items: center;
    }

    .logo__header {
        margin-right:88px;
        font-size: 24px;
    }

    .menu-navigation {
        display: flex;
        column-gap: 50px;
    }

    .menu-navigation__link {
        &::after {
            bottom: -38px;
        }
    }

    .current--page a {
        &::after {
            bottom: -38px;
        }
    }

    .contacts__link {
        font-size: 12px;

        &:first-child {
        margin-bottom: 10px;
        }
    }

    .contacts__icon {
        margin-right: 8px;
    }

    .contacts-icon--mail {
        width: 14px;
        height: 10px;
    }

    .contacts-icon--phone {
        width: 10px;
        height: 14px;
    }

}

@media screen and (min-width: 1200px) {

    .logo__header {
        font-size: 26px;
        margin-right: 93px;
    }

  .menu-navigation,
  .contacts {
      list-style: none;
      display: flex;
      column-gap: 50px;

  } 

  .menu-navigation__link {
      &::after {
          bottom: -30px;
      }
  }

  .current--page a {
      &::after {
          bottom: -30px;
      }
  }

    .contacts__link {
        font-size: 14px;

    &:first-child {
        margin-bottom: 0px;
    }

}

    .contacts__icon {
        margin-right: 10px;
    }

    .contacts-icon--mail {
        width: 16px;
        height: 12px;
    }

    .contacts-icon--phone {
        width: 10px;
        height: 16px;
    }
}

// .page-header {
//     font-weight: 500;
//     font-size: 14px;
//     line-height: 1.14;
//     letter-spacing: 0.02em;
//     padding-top: 24px;
//     padding-bottom: 25px;
//     border-bottom: 1px solid var(--border-header-color);
// }

// .page-header__container {
//     display: flex;
//     align-items: center;
//     justify-content: space-between;
// }

// .page-navigation {
//     display: flex;
//     align-items: center;
// }

// .logo__header {
//     font-family: 'Raleway', sans-serif;
//     font-weight: 700;
//     font-size: 26px;
//     line-height: 1.19;
//     color: var(--black-color);
//     margin-right: 93px;

// }

// .logo__logo-web {
//     color: var(--blue-color);
// }

// .menu-navigation,
// .contacts {
//     list-style: none;
//     display: flex;
//     column-gap: 50px;

// }   

// .current--page a {
//     color: var(--blue-color);

//     &::after {
//             content: "";
//             display: block;
//             position: absolute;
//             right: auto;
//             left: auto;
//             bottom: -34px;
//             background-color: var(--blue-color);
//             border-radius: 2px;
//             height: 4px;
//             width: 100%;
//             transform: scaleX(1);
//         }
// }

// .menu-navigation__link {
//     position: relative;
//     color: var(--dark-color);
//     transition: color var(--hover-focus-anim);

//     &:hover,
//     &:focus {
//         color: var(--blue-color);
//     }

//     &::after {
//         content: "";
//         display: block;
//         position: absolute;
//         right: auto;
//         left: auto;
//         bottom: -34px;
//         background-color: var(--blue-color);
//         border-radius: 2px;
//         height: 4px;
//         width: 0%;
//         transform: scaleX(0);
//         transition: transform var(--hover-focus-anim);
//     }

//     &:hover::after,
//     &:focus::after {
//         width: 100%;
//         transform: scaleX(1);
//     }
// }

// .contacts__link {
//     display: flex;
//     align-items: center;
//     color: var(--grey-color);
//     fill: currentColor;
//     transition: color var(--hover-focus-anim);

//     &:hover,
//     &:focus {
//         color: var(--blue-color);
//     }
// }

// .contacts__icon {
//     margin-right: 10px;
// }