.page-header {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    padding-top: 24px;
    padding-bottom: 25px;
    border-bottom: 1px solid var(--border-header-color);
}

.page-header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.page-navigation {
    display: flex;
    align-items: center;
}

.logo__header {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--black-color);
    margin-right: 93px;

}

.logo__logo-web {
    color: var(--blue-color);
}

.menu-navigation,
.contacts {
    list-style: none;
    display: flex;
    column-gap: 50px;

}   

.current--page a {
    color: var(--blue-color);

    &::after {
            content: "";
            display: block;
            position: absolute;
            right: auto;
            left: auto;
            bottom: -34px;
            background-color: var(--blue-color);
            border-radius: 2px;
            height: 4px;
            width: 100%;
            transform: scaleX(1);
        }
}

.menu-navigation__link {
    position: relative;
    color: var(--dark-color);
    transition: color var(--hover-focus-anim);

    &:hover,
    &:focus {
        color: var(--blue-color);
    }

    &::after {
        content: "";
        display: block;
        position: absolute;
        right: auto;
        left: auto;
        bottom: -34px;
        background-color: var(--blue-color);
        border-radius: 2px;
        height: 4px;
        width: 0%;
        transform: scaleX(0);
        transition: transform var(--hover-focus-anim);
    }

    &:hover::after,
    &:focus::after {
        width: 100%;
        transform: scaleX(1);
    }
}

.contacts__link {
    display: flex;
    align-items: center;
    color: var(--grey-color);
    fill: currentColor;
    transition: color var(--hover-focus-anim);

    &:hover,
    &:focus {
        color: var(--blue-color);
    }
}

.contacts__icon {
    margin-right: 10px;
}