.our-features {
    font-size: 14px;
    padding-top: 60px;
    padding-bottom: 60px;
}

.our-features__icon {
    display: flex;
    height: 120px;
    background: var(--another-white);
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.our-features__title {
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--dark-color);
    margin-bottom: 10px;
}

.our-features__text {
    line-height: 1.71;
}

@media screen and (max-width: 767px) {

    .our-features__title {
        text-align: center;
    }

    .our-features__icon {
        width: 100%;
    }

}

@media screen and (min-width: 768px) {

    .our-features__title {
        text-align: left;
    }

    .our-features__list {
        list-style: none;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 30px;
    }

    .our-features__item {
        flex-basis: calc((100% - 30px) / 2);
    }

    .our-features__icon {
        width: 354px;
    }

}

@media screen and (min-width: 1200px) {

    .our-features__list {
        flex-wrap: nowrap;
    }

    .our-features__item {
        flex-basis: calc((100% - 90px) / 4);
    }

    .our-features__icon {
        width: 270px;
    }

}