.our-features {
    font-size: 14px;
    padding-top: 94px;
    padding-bottom: 94px;
}

.our-features__list {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.our-features__item {
    flex-basis: calc((100% - 90px) / 4);
}

.our-features__icon {
    display: flex;
    width: 270px;
    height: 120px;
    background: var(--another-white);
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.our-features__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--dark-color);
    margin-bottom: 10px;
}

.our-features__text {
    font-size: 14px;
    line-height: 1.71;
}