.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background: var(--backdrop-background);
    transition: opacity var(--hover-focus-anim), visibility var(--hover-focus-anim);
}

.backdrop.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}